#menu{
        width: 100%;
        list-style: none;
        
}

#menu li{
        float: left;
        padding: 0 0 5px 0;
        position: relative;
}

#menu a{
        float: left;
        height: 25px;
        padding: 0 30px;
        color: black;
        text-transform: uppercase;
        font: bold 12px/25px Arial;
        text-decoration: none;
}

#menu li:hover > ul{
        display: block;
}

